{% extends "home/home_base.html" %}
{% block content %}
    <!--- Start Home Section -->
    <div class="home">

    <!--- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#"><img src="/static/image/eagle.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    </div>
{% endblock content %}