{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--- Bootstrap --->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"  type="text/css" href="/media/image/main.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
    <link rel="stylesheet" type="text/css" href="/media/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/media/slick/slick-theme.css"/>
    <!--- Meta --->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Eagle - The Knowledge Storage</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#signin">Sign In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--- End of navigation -->

<!--- Image Slider -->
<div id="slides" class="carousel slide carousel-fade" data-ride="carousel">
<ol class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
</ol>
<div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
        <img src="/media/image/bird.jpg" style="background: no-repeat fixed center;">
        <div class="carousel-caption">
            <h1 class="display-2">Welcome to Eagle</h1>
            <h3>The Knowledge Storage</h3>
            <button type="button" class="btn btn-outline-light btn-lg" href="#signin">Get Started</button>
        </div>
    </div>
    <div class="carousel-item">
        <img src="/media/image/blue.jpg" style="background: no-repeat fixed center;">
        <div class="carousel-caption">
            <h1 class="display-2">Welcome to Eagle</h1>
            <h3>The Knowledge Storage</h3>
            <button type="button" class="btn btn-outline-light btn-lg" href="#signin">Get Started</button>
        </div>
    </div>
    <div class="carousel-item">
        <img src="/media/image/eagle.jpg" style="background: no-repeat fixed center;">
        <div class="carousel-caption">
            <h1 class="display-2">Welcome to Eagle</h1>
            <h3>The Knowledge Storage</h3>
            <button type="button" class="btn btn-outline-light btn-lg" href="#signin">Get Started</button>
        </div>
    </div>
</div>
</div>
<!--- End of Image Slider -->

<!--- Features Section -->
<div class="container-fluid padding feature-background">
<div class="row welcome text-center">
    <div class="col-12">
        <h3 class="display-4">Services</h3>
    </div>
    <hr>
</div>
<div class="row feature text-center padding">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <div data-aos="fade-up" data-aos-duration="1000">
            <div class="frame jumbotron">
                <div class="storage-logo">
                    <img src="/media/image/storage.svg" style="width:100px;height:121px;">
                </div>
                <p class="storage-text">Give you a space for your creation and important knowledge with our advanced tools</p>
                <button href="#home" class="btn btn-dark learn-more-storage">Learn more</button>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <div data-aos="fade-up" data-aos-duration="1000">
            <div class="frame jumbotron">
                <div class="tools-logo">
                    <img src="/media/image/tools.jpg" style="width:100px;height:65px;">
                </div>
                <p class="tools-text">Various of tools to edit, customize your documents</p>
                <button href="#home" class="btn btn-dark learn-more-tools">Learn more</button>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <div data-aos="fade-up" data-aos-duration="1000">
            <div class="frame jumbotron">
                <div class="search-logo">
                    <img src="media/image/search.jpg" style="width:100px;height:100px;">
                </div>
                <p class="search-text"> Easily searching and extracting keywords</p>
                <button href="#home" class="btn btn-dark learn-more-searching">Learn more</button>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container-fluid padding feature-background-phone">
    <div class="row welcome text-center">
        <div class="col-12">
            <h3 class="display-4">Services</h3>
        </div>
        <hr>
    </div>
    <div class="slider slider-nav text-center">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4" id="col-non-outline">
            <div class="frame jumbotron" id="frame-phone">
                <center class="storage-logo">
                    <img src="/media/image/storage.svg" style="width:100px;height:121px;">
                </center>
                <p class="storage-text">Give you a space for your creation and important knowledge with our advanced tools</p>
                <button href="#home" class="btn btn-dark learn-more-storage">Learn more</button>
            </div>
        </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4" id="col-non-outline">    
        <div class="frame jumbotron" id="frame-phone">
            <div class="tools-logo">
                <img src="/media/image/tools.jpg" style="width:100px;height:65px; margin: auto;">
            </div>
            <p class="tools-text">Various of tools to edit, customize your documents</p>
            <button href="#home" class="btn btn-dark learn-more-tools">Learn more</button>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4" id="col-non-outline">
        <div class="frame jumbotron" id="frame-phone">
            <div class="search-logo">
                <img src="media/image/search.jpg" style="width:100px;height:100px; margin: auto;">
            </div>
            <p class="search-text"> Easily searching and extracting keywords</p>
            <button href="#home" class="btn btn-dark learn-more-searching">Learn more</button>
        </div>
    </div>
</div>
</div>
<!-- End of Feature Section -->

<!--- footer -->
<footer>
<div class="container-fluid padding phone">
    <button class="collapsible company">Company</button>
    <div class="content">
        <p id="footer-list">About us</p>
        <p id="footer-list">Blog</p>
        <p id="footer-list">Resource</p>
    </div>
    <button class="collapsible contact">Contact</button>
    <div class="content">
        <p id="footer-list">trieuphong328@gmail.com</p>
        <div class="col-12 social padding">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
        </div>
    </div>
    <button class="collapsible documents">Documents</button>
    <div class="content">
        <p id="footer-list">Guidelines</p>
        <p id="footer-list">Term & Policies</p>
    </div>
</div>

<div class="container-fluid padding desktop">
<div class="row footer text-center">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <p class="company">Company</p>
        <p id="footer-list">About us</p>
        <p id="footer-list">Blog</p>
        <p id="footer-list">Resource</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <p class="contact">Contact</p>
        <p id="footer-list">trieuphong328@gmail.com</p>
        <div class="col-12 social padding">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <p class="documents">Documents</p>
        <p id="footer-list">Guidelines</p>
        <p id="footer-list">Term & Policies</p>
    </div>
</div>
</div>

</footer>
    <!--- JS requirements --->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("pointer");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
              content.style.maxHeight = null;
            } else {
              content.style.maxHeight = content.scrollHeight + "px";
            } 
          });
        }
    </script>


    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/media/slick/slick.min.js"></script>
    <script type="text/javascript">
        $('.slider-nav').slick();
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script type="text/javascript">
        $(window).scroll(function() {
            var scrollTop = $(this).scrollTop();
            $('.container-fluid').css('top', -(scrollTop * 4 ) +'px');
        });
    </script>
    <script src="/media/parallax.js-1.5.0/parallax.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare>.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>