@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Heebo', sans-serif;
    color: #f9f9f9;
}

/*--- Navigation --*/

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, 0.7)!important;
}
.navbar-brand {
    height: 2rem;
}
.navbar-nav li{
    padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link{
    color: #fff;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .navbar-link.active,
.navbar-dark .navbar-nav .navbar-link:hover{
    color: white;
}

.nav-link {
    color: white;
}

.carousel-item {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item img{
    width: 100%;
    filter: brightness(80%);
    height: 100%;
}

.carousel-fade .active.carousel-item-left, 
.carousel-fade .active.carousel-item-prev, 
.carousel-fade .carousel-item-next, 
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active{
  -webkit-transform: none;
 transform: none;
}

.carousel-caption{
    position: absolute;
    top: 50%;
    color: white;
    text-transform: uppercase;
    transform: translateY(-50%);
}

.carousel-caption h1{
    font-size: 500%;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.carousel-caption h3{
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.5rem;
}

.btn-lg{
    border-width: medium;
    border-radius: 8px;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
}

.feature-background {
    /*background-image: url('/media/image/abstract.jpeg')*/
    background: rgb(190,219,219);
    background: linear-gradient(90deg, rgba(190,219,219,1) 100%, rgba(255,255,255,1) 100%);
    padding-bottom: 8rem;
}

.welcome hr {
    border-top: 3px solid black;
    width: 5%;
    margin-top: .3rem;
    margin-bottom: 1rem;
    padding-left: -3rem;
    padding-right: -3rem;
}

.display-4 {   
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 4rem;
    text-align: center;
    letter-spacing: .1rem;
    background: black;
    /*background: linear-gradient(to right, #30CFD0 0%, #330867 100%);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.feature {
    margin-top: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.frame {
    margin-bottom: 1rem;
    height: 20rem;
    color: black;
    border: none;
    background: white;
}


.storage-logo {
    
}
.tools-logo{
    padding-bottom: 2rem;
    margin-top: 26px;
}
.search-logo{
    margin-top: 10px;
    padding-bottom: 12px;
}
.learn-more-tools {
    padding-top: 21px;
}
.learn-more-searching {
    padding-top: 46px;
}
}
.tools, .storage, .searching{
    display: inline;
    color: black;
}
a.tools:hover, a.storage:hover, a.searching:hover {
    color: blue;
}

.footer {
    background-color: black;
}

.company, .contact, .documents {
    padding-top: 2rem;
}

.panel {
    border: 0;
    box-shadow: none;
}

.collapse-footer:after {
    font-family: FontAwesome;
    content: "\f067";
}

.social a{
    font-size: 2rem;
    padding: 10px;
}

.fa-facebook {
    color: #3b5998;
}

.fa-youtube-play {
    color: #bb0000;
}

.fa-instagram {

}

#footer-list, #footer-list-1, #footer-list-2, #footer-list-3 {
    color: grey;
    font-size: 16px;
}

.phone {
    display: none;
    background-color: black;
}
/*--- Media Queries ---*/

@media (max-width: 992px) {
.carousel-caption {
    top: 50%;
}

.carousel-caption h1{
    font-size: 400%; 
}
.carousel-indicators{
    display: none;
}
.carousel-caption h3{
    padding-bottom: .3rem;
}
.display-4{
    font-size: 300%;
}
.feature {
    margin-left: 3rem;
    margin-right: 3rem;
}

.phone {
    display: none;
}
}

@media (max-width: 768px) {
.carousel-caption{
    top: 45%;
}
.carousel-caption h1{
    font-size: 350%;
}
.carousel-caption h3{
    font-size: 140%;
    font-weight: 400; 
    padding-bottom: .2rem;
}
.carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
}
.display-4 {
    font-size: 200%;
}

.phone {
    display: none;
}
}

@media (max-width: 690px) {
.carousel-caption{
    top: 40%;
}
.carousel-caption h1{
    font-size: 250%;
}
.carousel-caption h3{
    font-size: 110%;
}
.carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
}
.carousel-indicators {
    display: none;
}
.display-4 {
    font-size: 160%;
}

.desktop {
    display: none;
}
.phone {
    display: inline-block;
}
}
